.sidebar {
    background: $color-3;
    font-family: $font-1;
    width: 20vw;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:250px 1fr;
    grid-template-areas:
        "1"
        "2"
        "3";

    .id {
        grid-area: 1;
        text-align: center;
        user-select: none;
        position: relative;

        .idContent {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;

            img {
                width: 40%;
                border-radius: 50%;
                box-shadow: 0 0 0 4px $color-3, 0 0 0 8px $black;
            }

            h3 {
                font-size: 1.3rem;
                text-transform: uppercase;
                letter-spacing: 0.2rem;
                margin-top: 1.5rem;
                color: $color-2;
            }
        }
    }

    .navigation {
        grid-area: 2;
        padding: 2rem 1rem;

        ul {
            height: 100%;
            display: grid;

            li {
                padding: 1rem 0 1rem .4rem;
                font-size: 1.3rem;
                position: relative;

                &:hover i {
                    transform: translate(3px, 3px);
                }

                a {
                    color: $color-2;
                }

                .navActive {
                    color: $color-2;
                }

                i {
                    position: absolute;
                    font-size: 0.95rem;
                    transform: rotateY(3px);
                    transition: .2s ease;
                }

                span {
                    margin-left: 2.7rem;
                }

            }
        }
    }

    .socialNetwork {
        grid-area: 3;

        ul {
            display: flex;
            width: 264px;
            padding: 0 14px;
            justify-content: space-around;

            li {
                font-size: 1rem;
                border-radius: 50%;
                padding: .5rem .8rem;
                transition: 0.3s;
                cursor: pointer;

                a {
                    color: $color-2;
                    &:hover {
                        color: $color-1;
                    }
                }

            }
        }
    }

    .signature {
        margin: 2rem;
        text-align: center;
    }
}