.home {

    .homeContent {
     
      background: radial-gradient($color-1 5%, transparent 50%);
      display: flex;
      flex-direction: column;
      min-height:auto;
      width: 77vw;
      min-height: 500px;
      overflow: hidden;
      margin: 0 0 0 10px;
      text-align: center;
     
      

      h1{
        font-size: 2.5rem;
        margin: 0.5rem;
        color: $color-1;
      }
      h2{
        margin: 0.5rem;
        color: $color-1;
      }
      h3{
        margin: 0.5rem;
      }
     
      
      &:after {
        content: '';
        position: absolute;
        height: 100%;
        width: inherit;
        background: url('../../media/technology.jpg') no-repeat center/cover ;        
        overflow: hidden;
        z-index: -1;
        filter: brightness(30%);
      }     
        .pdf {margin: .5rem;
          a {
            font-size: 1.5rem;
            background: $color-1;
            padding: .5rem 1rem;
            border-radius: 1rem;
            transition: 0.2s ease;
            

  
            &:hover {
              background: $color-1;
            }
          }
        }
      }
    }
  
  @media screen and (max-width: 850px){
    .homeContent {
      margin: 0 ;
    }
  }
  @media screen and (max-width:580px){
    .homeContent {
     
      h1 {
        font-size: 3rem ;
      }
      h2 {
        font-size: 1.8rem ;
      }
    }
  }