
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Quicksand:wght@300&family=Source+Code+Pro:wght@200&display=swap');

$font-1: 'Nanum Gothic', sans-serif ;
$font-2: 'Quicksand', sans-serif;
$font-3: 'Source Code Pro', monospace;

$color-1:  #e7a163;
$color-2:  #c6d1d1;
$color-3:  #232629;
$white: #ddd;
$black: #333;


$shadow: 0 1px 3px #333;

@mixin  verticalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
html{
    height: 100vh;
    background-color: rgb(26, 25, 25);
    overflow: hidden;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    
    position: relative;
    margin: 1rem;   
    font-family: $font-1;
    color: $color-2;    
}

button{
    cursor: pointer;
}

li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: $color-2;
    cursor: pointer;
}


.home, .knowledges, .portfolio, .contact{
    display: flex;

    @media screen and (max-width: 805px) { 
        display: block;
     }
}

.homeContent, .knowledgesContent, .portfolioContent, .contactContent{
    display: flex;

    @media screen and (max-width: 805px) { 
        margin-left: 0 ;
     }
}

a:visited{
    color: $black;
}